
@{
    ViewBag.Title = "Pro-Rata Registration";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.0/themes/default/style.min.css" rel="stylesheet" />
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>

</head>
<body>

    <div ng-app="myapp" ng-controller="ProRataRegistrationController">
        <div ng-show="CheckUserAuth()">
            <!--Course data entered here-->
            <form name="ItemForm" novalidate>
                <div class="row searchFix" style="padding-top:15px;">
                    <div class="col-xs-8 col-sm-4 col-md-3">
                        <input type="text" class="form-control" placeholder="Search Items..." id="searchItem" name="searchItem" ng-model="searchItem" ng-keyup="searchItemItemAutoComplete()">
                    </div>
                </div>
                <br />
                <br />
                <div class="row content-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 section-header">
                                <small>Pro-Rata Registration Details</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <table style="width: 100%;">
                                    <tr>
                                        <td>
                                            <label class="lableMargin">Semester ID</label>
                                            <input class="form-control input-sm   required" type="text"
                                                   id="Semester_Id" name="Semester_Id" ng-model="Semester_Id">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table style="width: 100%;">
                                    <tr>
                                        <td>
                                            @*<lable class="RequiredFeildIndicator">*</lable>*@
                                            <label class="lableMargin">Pro-rata Registration Start Date</label>
                                            <input type="date" data-date-format="yyyy-mm-dd"
                                                   class="form-control input-sm field-topSpacing  marginBottom datepicker"
                                                   id="ProRata_Registration_Start_Date" ng-model="ProRata_Registration_Start_Date"
                                                   name="ProRata_Registration_Start_Date" data-date-end-date="0d" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table style="width: 100%;">
                                    <tr>
                                        <td>
                                            @*<lable class="RequiredFeildIndicator">*</lable>*@
                                            <label class="lableMargin">Pro-rata Registration End Date</label>
                                            <input type="date" data-date-format="yyyy-mm-dd"
                                                   class="form-control input-sm field-topSpacing  marginBottom datepicker"
                                                   id="ProRata_Registration_End_Date" ng-model="ProRata_Registration_End_Date"
                                                   name="ProRata_Registration_End_Date" data-date-end-date="0d" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <table style="width: 100%;">
                                    <tr>
                                        <td>
                                            @*<lable class="requiredfeildindicator">*</lable>*@
                                            <label class="lableMargin">Pro-rata Fee</label>
                                            <input class="form-control input-sm   required" type="text"
                                                   id="ProRata_Fee" name="ProRata_Fee" ng-model="ProRata_Fee">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table style="width: 100%;">
                                    <tr>
                                        <td>
                                            @*<lable class="RequiredFeildIndicator">*</lable>*@
                                            <label class="lableMargin">Last Payment Date From</label>
                                            <input type="date" data-date-format="yyyy-mm-dd"
                                                   class="form-control input-sm field-topSpacing  marginBottom datepicker"
                                                   id="Last_Payment_Date_From" ng-model="Last_Payment_Date_From"
                                                   name="Last_Payment_Date_From" data-date-end-date="0d" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table style="width: 100%;">
                                    <tr>
                                        <td>
                                            @*<lable class="RequiredFeildIndicator">*</lable>*@
                                            <label class="lableMargin">Last Payment Date To</label>
                                            <input type="date" data-date-format="yyyy-mm-dd"
                                                   class="form-control input-sm field-topSpacing  marginBottom datepicker"
                                                   id="Last_Payment_Date_To" ng-model="Last_Payment_Date_To"
                                                   name="Last_Payment_Date_To" data-date-end-date="0d" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding: 0.5cm 0cm;">
                        <div class="row">
                            <div class="col-md-12 section-header">
                                <small></small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 section-header">
                                <small>Subject List</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="lableMargin" style="margin-top:20px">
                                                    <input type="checkbox" ng-model="MIT"
                                                           id="MIT" checked="checked" value="MIT">
                                                    MIT
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="lableMargin" style="margin-top:20px">
                                                    <input type="checkbox" ng-model="FCS"
                                                           id="FCS" checked="checked" value="FCS">
                                                    FCS
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="lableMargin" style="margin-top:20px">
                                                    <input type="checkbox" ng-model="IPE"
                                                           id="IPE" checked="checked" value="IPE">
                                                    IPE
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="lableMargin" style="margin-top:20px">
                                                    <input type="checkbox" ng-model="ST1"
                                                           id="ST1" checked="checked" value="ST1">
                                                    ST1
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="lableMargin" style="margin-top:20px">
                                                    <input type="checkbox" ng-model="CF"
                                                           id="CF" checked="checked" value="CF">
                                                    CF
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="lableMargin" style="margin-top:20px">
                                                    <input type="checkbox" ng-model="ELS2"
                                                           id="ELS2" checked="checked" value="ELS2">
                                                    ELS2
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="lableMargin" style="margin-top:20px">
                                                    <input type="checkbox" ng-model="English1"
                                                           id="English1" checked="checked" value="English1">
                                                    English 1
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="lableMargin" style="margin-top:20px">
                                                    <input type="checkbox" ng-model="DBMS1"
                                                           id="DBMS1" checked="checked" value="DBMS1">
                                                    DBMS 1
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="lableMargin" style="margin-top:20px">
                                                    <input type="checkbox" ng-model="DCCN1"
                                                           id="DCCN1" checked="checked" value="DCCN1">
                                                    DCCN 1
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="lableMargin" style="margin-top:20px">
                                                    <input type="checkbox" ng-model="ITA"
                                                           id="ITA" checked="checked" value="ITA">
                                                    ITA
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding: 0.5cm 0cm;">
                        <div class="row">
                            <div class="col-md-12 section-header">
                                <small></small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <table style="width: 100%;">
                                    <tr>
                                        <td>
                                            @*<lable class="requiredfeildindicator">*</lable>*@
                                            <label class="lableMargin">Late Payment Fee</label>
                                            <input class="form-control input-sm   required" type="text"
                                                   id="Late_Payment_Fee" name="Late_Payment_Fee" ng-model="Late_Payment_Fee">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <br />
            <br />
            <div class="row actionButtonFix">
                <div class="col-md-4 col-md-offset-8 action-button-container">
                    <button type="button" class="btn-small btn btn-xs btn-warning" id="clearData" ng-click="clearData()">Clear</button>
                    <button type="button" class="btn-small btn btn-xs btn-primary" id="saveData" ng-click="saveData(1)">Save</button>

                </div>
            </div>

            <!-- Sucess Alert Modal-->
            <div class="modal fade " id="sucessModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" @*data-keyboard="false" data-backdrop="static"*@>
                <div class="modal-dialog  modal-sm alert-box-position">
                    <div class="modal-content">
                        <div class="modal-header dialog-header-sucess">
                            <h4 class="modal-title error-alert-header-text">Success!</h4>
                        </div>
                        <!-- dialog body -->
                        @*<span class="modal-body " id="sucessMassageHeader"></span>*@
                        <div class="modal-body">
                            <div class="row col-md-12"><h3 id="sucessMassageHeader">Data Saved Successfully</h3></div>
                            <div class="row col-md-12"><span id="sucessmessage"></span></div>
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@

                        </div>
                        <!-- dialog buttons -->
                        <div class="modal-footer error-modal-footer ">
                            <button type="button" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>

        <!-- End-->
        <!--Bootstrap warning modal-->
        <div class="modal fade" id="errorModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-sm alert-box-position">
                <div class="modal-content">
                    <div class="modal-header dialog-header-Warning">
                        <h4 class="modal-title error-alert-header-text">Authorization error</h4>
                    </div>
                    <div class="modal-body" id="warningMessage">
                        <p>Error occur Please check the connections</p>
                    </div>
                    <div class="modal-footer error-modal-footer">
                        <button class="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    @*</div>*@
    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
    

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Areas/Admin/JavaScript/AdminViews/ProRataRegistration.js"></script>
    
    

</body>
</html>